<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Все посты найденные по запросу «{{ s }}»</title>  <!--Название страницы-->
    <link rel="stylesheet" href="../../static/style.css">  <!--подключение стилей к странице-->
</head>
<body>
<main>

    <a href="/" class="link">Назад</a>  <!--возврат на главную страницу-->

    <h1>Посты по запросу «{{ s }}»</h1>  <!--заголовок страницы с поиском введенного слова-->

    <!--перебор всех постов, в тексте которого есть указанное слово-->
    {% for post in posts %}
        <div class="post">
            <img src="{{ post.pic }}"
                width="100%" alt="">
            <p>{{ post.content }}</p>
        </div>
        <hr>
    {% endfor %}

    <a href="/post" class="button">Добавить пост</a>  <!--клавиша добавления нового поста-->

</main>
</body>
</html>
